<div class="card blue darken-1 jumbotron">
  <div class="card-content white-text">
    <!-- <span class="card-title">Card Title</span> -->
  </div>
</div>

<section id="articles">
<div class="container">
  <div class="row">
    <div class="col m12">

  <ul class="collapsible" data-collapsible="accordion">
      {{#each articles}}

      <li class="article-cell">
        <div class="collapsible-header card-panel">

          <div class="article section" style="overflow: auto">
            <div class="article-panel">
              <a href="{{this.link}}" target="_blank">
              <img class="left" src="{{this.photoUrl}}" data-caption="{{this.title}}">
              </a>
              <div class="text-block left">
                <a href="{{this.link}}" target="_blank">
                <h5 class="truncate left no-margins saved-article-title">{{this.title}}</h5>
                </a>
                <ul>
                  <li>
                    <a href="#" class="right waves-effect waves-light btn  purple darken-1 comment-button" data="{{stringify this}}">Comments</a>
                  </li>
                  <li>
                    <a href="#" class="right waves-effect waves-light btn red darken-2 delete-button" data="{{stringify this}}">Delete</a>
                  </li>
                </ul>

                <div class="row">
                  <div class="col m12 left">
                    <em class="no-margins left">{{this.source}}</em><span class="left span-between"> - </span><p class="no-margins left">{{this.posted}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      {{/each}}

      </ul>

    </div>
  </div>
</div>
</section>
